modem.img
boot.img
product/priv-app/PrebuiltGmsCore/PrebuiltGmsCoreSc.apk
product/priv-app/RecorderPrebuilt/RecorderPrebuilt.apk
product/priv-app/Velvet/Velvet.apk
product/app/YouTube/YouTube.apk
product/app/Photos/Photos.apk
